## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [2]:
ciudades_del_mundo=["Medellin","Sao Paulo","Santiago","Amsterdam","Berlin","Vienna"]
print(ciudades_del_mundo)

['Medellin', 'Sao Paulo', 'Santiago', 'Amsterdam', 'Berlin', 'Vienna']

2) Imprimir por pantalla el segundo elemento de la lista

In [3]:
ciudad_numero_2=ciudades_del_mundo[1]
print(ciudad_numero_2)

Sao Paulo

3) Imprimir por pantalla del segundo al cuarto elemento

In [14]:
ciudades_2_a_4=ciudades_del_mundo[1:4]
print(ciudades_2_a_4)

['Sao Paulo', 'Santiago', 'Amsterdam']

4) Visualizar el tipo de dato de la lista

In [6]:
tipo_de_dato_lista=type(ciudades_del_mundo)
print(tipo_de_dato_lista)

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [7]:
elementos_desde_el_tercero = ciudades_del_mundo[2:]
print(elementos_desde_el_tercero)

['Santiago', 'Amsterdam', 'Berlin', 'Vienna']

6) Visualizar los primeros 4 elementos de la lista

In [9]:
elementos_primeros_4 = ciudades_del_mundo[:4]
print(elementos_primeros_4)

['Medellin', 'Sao Paulo', 'Santiago', 'Amsterdam']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [16]:
ciudades_del_mundo.append("Sevilla")
ciudades_del_mundo.append("Tokio")
print(ciudades_del_mundo)

['Medellin', 'Sao Paulo', 'Santiago', 'Amsterdam', 'Berlin', 'Vienna', 'Sevilla', 'Tokio', 'Sevilla', 'Tokio']

8) Agregar otra ciudad, pero en la cuarta posición

In [17]:
ciudades_del_mundo.insert(3,"Cuenca")
print(ciudades_del_mundo)

['Medellin', 'Sao Paulo', 'Santiago', 'Cuenca', 'Amsterdam', 'Berlin', 'Vienna', 'Sevilla', 'Tokio', 'Sevilla', 'Tokio']

9) Concatenar otra lista a la ya creada

In [18]:
eeuu = ["New York", "Los Angeles", "Miami"]
ciudades_del_mundo.extend(eeuu)
print(ciudades_del_mundo)

['Medellin', 'Sao Paulo', 'Santiago', 'Cuenca', 'Amsterdam', 'Berlin', 'Vienna', 'Sevilla', 'Tokio', 'Sevilla', 'Tokio', 'New York', 'Los Angeles', 'Miami']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [20]:
ciudades_del_mundo.index("Sevilla")

7

11) ¿Qué pasa si se busca un elemento que no existe?

In [21]:
ciudades_del_mundo.index("Birmingham")

ValueError: 'Birmingham' is not in list

12) Eliminar un elemento de la lista

In [23]:
ciudades_del_mundo.remove("Miami")
print(ciudades_del_mundo)

['Medellin', 'Sao Paulo', 'Santiago', 'Cuenca', 'Amsterdam', 'Berlin', 'Vienna', 'Sevilla', 'Tokio', 'Sevilla', 'Tokio', 'New York', 'Los Angeles']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [24]:
ciudades_del_mundo.remove("Canarias")
print(ciudades_del_mundo)

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [25]:
ultimo = ciudades_del_mundo.pop()
print(ultimo)

Los Angeles

15) Mostrar la lista multiplicada por 4

In [26]:
print(ciudades_del_mundo*4)

['Medellin', 'Sao Paulo', 'Santiago', 'Cuenca', 'Amsterdam', 'Berlin', 'Vienna', 'Sevilla', 'Tokio', 'Sevilla', 'Tokio', 'New York', 'Medellin', 'Sao Paulo', 'Santiago', 'Cuenca', 'Amsterdam', 'Berlin', 'Vienna', 'Sevilla', 'Tokio', 'Sevilla', 'Tokio', 'New York', 'Medellin', 'Sao Paulo', 'Santiago', 'Cuenca', 'Amsterdam', 'Berlin', 'Vienna', 'Sevilla', 'Tokio', 'Sevilla', 'Tokio', 'New York', 'Medellin', 'Sao Paulo', 'Santiago', 'Cuenca', 'Amsterdam', 'Berlin', 'Vienna', 'Sevilla', 'Tokio', 'Sevilla', 'Tokio', 'New York']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [27]:
numeros_del_1_al_20 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(numeros_del_1_al_20)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [30]:
print(numeros_del_1_al_20[9:15])

(10, 11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [32]:
print(20 in numeros_del_1_al_20)
print(30 in numeros_del_1_al_20)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [34]:
ciudades_del_mundo.append("Paris")
ciudades_del_mundo.index("Paris")

12

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [36]:
print(ciudades_del_mundo.count("Paris"))
print(numeros_del_1_al_20.count(1))

1
1

21) Convertir la tupla en una lista

In [37]:
lista_de_una_tupla = list(ciudades_del_mundo)
print(type(ciudades_del_mundo))
print(ciudades_del_mundo)

<class 'list'>
['Medellin', 'Sao Paulo', 'Santiago', 'Cuenca', 'Amsterdam', 'Berlin', 'Vienna', 'Sevilla', 'Tokio', 'Sevilla', 'Tokio', 'New York', 'Paris']

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [39]:
uno,dos,tres,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_ = numeros_del_1_al_20
print(uno)
print(dos)
print(3)

1
2
3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [44]:
diccionario1={"ciudad":ciudades_del_mundo, 
              "pais":["ecuador","uruguay","chile","venezuela","peru","argentina","brazil","chile","noruega","finlandia","marruecos","españa","estonia"],
              "continente":["america","america","america","america","america","america","america","america","america","america","america","europa","europa"]}
print(diccionario1)

{'ciudad': ['Medellin', 'Sao Paulo', 'Santiago', 'Cuenca', 'Amsterdam', 'Berlin', 'Vienna', 'Sevilla', 'Tokio', 'Sevilla', 'Tokio', 'New York', 'Paris'], 'pais': ['ecuador', 'uruguay', 'chile', 'venezuela', 'peru', 'argentina', 'brazil', 'chile', 'noruega', 'finlandia', 'marruecos', 'españa', 'estonia'], 'continente': ['america', 'america', 'america', 'america', 'america', 'america', 'america', 'america', 'america', 'america', 'america', 'europa', 'europa']}

24) Imprimir las claves del diccionario

In [45]:
print(diccionario1.keys())

dict_keys(['ciudad', 'pais', 'continente'])

25) Imprimir las ciudades a través de su clave

In [48]:
print(diccionario1["ciudad"])

['Medellin', 'Sao Paulo', 'Santiago', 'Cuenca', 'Amsterdam', 'Berlin', 'Vienna', 'Sevilla', 'Tokio', 'Sevilla', 'Tokio', 'New York', 'Paris']